#container {
    display: grid;
    grid-template-columns: 20% 40% 20%;
    grid-template-rows: 40px ;
    grid-template-areas: 
    'hd hd nv'
    'div div div'
    'div div div'
    'ft ft ft'
    ;
 }
 header {
     grid-area: hd;
     background-color: hotpink;
 }
 nav {
     grid-area: nv;
     background-color: aqua;
 }
 div {
     grid-area: div;
     background-color: red;
 }
 footer {
     grid-area: ft;
     background-color: honeydew;
 }
 