body {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: calc(100% - 10px) / 3;
  grid-template-rows: 110px calc(100vh - 110px) 200px;
  grid-template-areas: 
  'hd hd hd'
  'sec sec sec'
  'ft ft ft';
}
header {
  grid-area: hd;
  background-color: aqua;
}
section {
  grid-area: sec;
  background-color: aquamarine;
}
footer {
  grid-area: ft;
  background-color: azure;
}
