body {
    margin: 0%;
    background-color: black;
}
#container{
    display: grid;
    grid-template-columns: 50vw 50vw ;
    grid-template-rows:100px calc(100vh - 100px) 600px 100px ;
    grid-template-areas: 
    'hd hd'
    'sc sc'
    'länk1 länk2'
    'ft ft';
}
header {
    grid-area: hd;
    background-color: pink;
}
section {
    grid-area: sc;
    background-color: honeydew;
}
#cardsection div {
    
    background-color: aqua; 
    width: calc(100% - 5px);
    height: 600px;
}
#länk1 {
    grid-area: länk1;
    background-color: aqua;
}
#länk2 {
    grid-area: länk2;
    background-color: crimson;
}
#cardsection {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
footer {
    grid-area: ft;
    background-color: hotpink;
}