body {
  margin: 0%;
}
#container {
  display: grid;
  height: calc(100vh);
  grid-template-rows: 110px calc(100vh - 110px) 500px 100vh 100px;
  grid-template-columns: 25% 25% 25% 1fr;
  grid-template-areas:
    "hd hd hd nav"
    "sc sc sc sc "
    "dv dv dv dv"
    "sc2 sc2  sc3 sc3"
    "ft ft ft ft";
  background-color: #1abc9c;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: hd;
  background-color: #1abc9c;
}
#hero {
  grid-area: sc;
  background-image: url(/img/markiplier_yoga.jpg);
  background-size: cover;
}
div {
  grid-area: dv;
  background-color: blue;
}
footer {
  grid-area: ft;
  background-color: white;
  display: flex;
  font-family: cursive;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 900;
  text-transform: uppercase;
}
#section2 {
  grid-area: sc2;
  background-color: #19b394;
  background-size: cover;
}
#section3 {
  grid-area: sc3;
  background-color: #1abc9c;
  background-size: cover;
}
.company {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: cursive;
  text-transform: uppercase;
}
a {
  color: black;
  text-decoration: none;
}
.texter {
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  font-weight: 600;
  color: honeydew;
  text-shadow: 2px 2px 100px;
  background-color: rgba(105, 104, 104, 0.75);
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    grid-area: nav;
    background-color: #1abc9c;
    width: 50px;
    
}
.dropdown {
    display: flex;
    position:relative;
    display: inline-block;
    align-items: right;
    margin-top: 0;
}
.dropdown-content {
    display: none;
    text-align: center;
    flex-direction: column;
    position: absolute;
    background-color: #1abc9c;
    min-width: 100px;
    z-index: 1;
    list-style-type: none;
    padding: 10px;
    font-size: large;
    margin-top: 0;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#menu-toggle {
    display: none;
}


/* .hamburger-menu {
  display: flex;
  height: 100%;
  width: 50px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.hamburger-button-toggle {
  display: none;
  height: 100%;
  width: 50px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 5px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.25, 1, 0.32, 1);
  border-radius: 2px;
}

.hamburger-menu::before {
  content: "";
  margin-top: -8px;
}
.hamburger-menu::after {
  content: "";
  margin-top: 8px;
}

.hamburger-button-toggle:checked
  + .hamburger-menu-container
  .hamburger-menu::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

.hamburger-button-toggle:checked
  + .hamburger-menu-container
  .hamburger-menu::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
#menu-toggle:checked + .hamburger-menu-container .hamburger-menu {
  background-color: #1abc9c;
} */

/* @media (max-width:700px) {
    .hamburger-menu-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0px;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
}    */
