body {
    margin: 0%;
  }
  #container {
    display: grid;
    height: calc(100vh);
    grid-template-rows: 110px calc(100vh - 110px) 500px calc(100vh - 100px) 100px;
    grid-template-columns: 25% 25% 25% 1fr;
    grid-template-areas:
      "hd hd hd hd"
      "sc sc sc sc "
      "dv dv dv dv"
      "sc2 sc2  sc3 sc3"
      "ft ft ft ft";
      background-color: black;
  }
  header {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    grid-area: hd;
    background-color: #1abc9c;
  }
  #hero-image {
    grid-area: sc;
    background-image: url(/img/markiplier_yoga.jpg);
    opacity:  0.6;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center;
  }
  #hero-text {
    background-color: #1abc9c;
    color: black;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  #hero-paragraf {
    font-size: x-large;
    text-transform: initial;
  }
  section .homepage-headers {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: honeydew;
  }
  #card-section {
    grid-area: dv;
    background-color: #2F8A78;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
    padding: 20px;
  }
  #card-section div {
    height: 450px;
    width: calc((100% - 10px) / 2);
  } 
  .pictures {
        transition: transform .2s;
        height: 100%;
        width: 40%;
        justify-content: space-between;
        border-radius: 20px;
        object-fit: cover;
  }
  .pictures:hover {
    transform: scale(1.05);
  }
  footer {
    grid-area: ft;
    background-color: #1abc9c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #section2 {
    grid-area: sc2;
    background-color: #2F574F;
    background-size: cover;
    display: flex;
    align-items: center;
  }
  #section3  {
    grid-area: sc3;
    background-color: #2F574F;
    background-size: cover;
    display: flex;
    align-items: center;
   }
  .text_w_link {
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    color: black;
    text-decoration: none;
  }
  .text_w_link_dropdown {
    color: black;
    text-decoration: none;
}
  .texter {
    padding: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 600;
    color: honeydew;
  }
  .dropdown {
      display: flex;
      position:relative;
      display: inline-block;
      margin-top: 0;
    }
    .dropdown-content {
        display: none;
        text-align: center;
        flex-direction: column;
        position: absolute;
        background-color: #1abc9c;
        min-width: 100px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        z-index: 1;
        list-style-type: none;
        padding: 10px;
        font-size: large;
        margin-top: -10px;
  }
  .dropdown:hover .dropdown-content {
      display: block;
  }

  
  
  
  
  #container1{
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows:110px calc(100vh - 100px) 600px 100px;
    grid-template-areas: 
    'hd hd'
    'sc sc'
    'länk1 länk2'
    'ft ft';
    background-color: darkgrey;
}
.meditation_yoga {
  grid-area: sc;
  background-image: url(/img/yoga_meditation_hero.jpg);
  background-position: center;
  display: flex;
  background-size: cover;
  opacity: 0.6;
}
#länk1 {
  grid-area: länk1;
  background-color: #2F574F;
  height: 600px;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 45px;
  
}
#länk2 {
  grid-area: länk2;
  background-color: #2F574F;
  height: 600px;
  width: 1fr ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 45px;
}
a .img {
  transition: transform .2s;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}
a .img:hover {
  transform: scale(1.05);
}



#container2 {
  display: grid;
  width: 100%;
  grid-template-rows: 110px 500px calc(100vh - 610px);
  grid-template-areas:
    "hd hd hd"
    "sec sec sec"
    "ft ft ft";
}

#employees {
  grid-area: sec;
  background-color: #2F8A78;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 30px;
  object-fit: cover;
}
#pictures {
  transition: transform .2s;
  height: 400px;
  width: 100%;
  justify-content: space-between;
  border-radius: 20px;
  object-fit: cover;
}
#pictures:hover {
transform: scale(1.05);
}
